[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
rpaframework = "*"
pywin32 = "*"
pandas = "*"
xlsxwriter = "*"
xlrd = "*"
openpyxl = "==2.6.3"

[dev-packages]

[requires]
python_version = "3.8"
